fastapi==0.120.2
uvicorn==0.38.0
jinja2==3.1.6
markupsafe==2.1.5
setuptools==68.2.2
wheel==0.43.0
sqlmodel==0.0.22
sqlalchemy==2.0.38
python-multipart==0.0.9
python-multipart==0.0.9
python-multipart==0.0.9
