<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vidrio App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet"
        href="{{ url_for('core.static', filename='style.css') }}?v={{ config.get('ASSET_VERSION','1') }}">
</head>
  <body>
    <header class="topbar">
      <!-- templates/base.html -->
      <a class="brand" href="{{ url_for('core.index') }}">vidrio</a>

      <nav class="top-links">
        {% if session.user_email %}
          <a href="{{ url_for('core.dashboard') }}">Dashboard</a>
          <a href="{{ url_for('medidas.index') }}">Medidas</a> <!-- 👈 añadido -->
          <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% else %}
          <a href="{{ url_for('login') }}">Iniciar sesión</a>
          <a href="{{ url_for('register') }}">Registrarse</a>
        {% endif %}
      </nav>
      

    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div style="max-width:1060px;margin:0 auto;">
          {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>
